.main {
  
  min-height: 100vh;
}

.colorModeButton {
  position: absolute;
  top: 0;
  right: 0;
  

}

.colorModeButtonIndex {


}

.graphBox {
 
  
}

.titleFlexBox {
  display: flex;
}

.parentTreeStructure {
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 40px;
  margin-left: 1px;
  box-shadow: 2px 1px 5px gray;
  color: black;
 
  
 

}

.parentTreeStructureDark {
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  background-color: #202020;
  border-radius: 40px;
  margin-left: 1px;
  box-shadow: 2px 1px 5px hsl(0, 0%, 50%);
  color: white;

}

.parentTreeStructure::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.parentTreeStructure {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.footerStyle {
  position: fixed;
  bottom: 0;
  
  
}